    /* Global Settings */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body, html {
        height: 100%;
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: white;
        background-color: hsla(236, 0%, 8%, 0.91);
        overflow-x: hidden; 
    }
      a{
        color: white;
        text-decoration: none;
      }
    /* Envolve tudo */
    .x-y {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
    }

    /* Barra de menu */
    #menuButton {
        position: fixed;
        top: 0.625rem;
        left: 0.625rem;
        z-index: 999; /* Para garantir que o botão esteja acima de outros conteúdos */
        background-color: black;
        color: white;
        padding: 0.625rem 0.938rem;
        border: none;
        cursor: pointer;
        transition: left 0.3s ease;
        display: suvaco; /* Esconder o botão por padrão em telas maiores */
    }
     #menuButton.close{
        left: 10rem;
    }
    .menu {
        position: fixed;
        top: 0;
        left: -9.375rem;
        width: 9.375rem;
        height: 100vh;
        background-color: black;
        transition: left 0.3s ease;
        box-sizing: border-box;
    }
    .menu.open {
        left: 0;
    }

   
    .titulo{
        display: flex;
        gap: 0.25rem;
    }

    .titulo div{
        background-color: rgb(8 47 73);
        height: auto;
        width: 0.5rem;
    }
    
    .titulo h1{
        padding: 1rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        font-weight: bold;
        text-wrap: nowrap;
    }
    .navegacao section{
        display: flex;
        flex-direction: column;
        margin-top: 0.625rem;
        border-top: 0.625rem solid rgb(8 47 73);
        border-bottom: 0.625rem solid rgb(8 47 73);
        padding: 0.0625rem;

    }
    .navegacao section a:first-child{
        border-bottom: 0.125rem solid rgba(112, 112, 112, 0.21);
        border-top: 0.125rem solid rgba(112, 112, 112, 0.21);
    }

    .navegacao section a{
        padding-top: 0.313rem;
        padding-bottom: 0.313rem;
        text-align: center;
        border-bottom: 0.125rem solid rgba(112, 112, 112, 0.21);
    }

    /* Conteúdo */
    .apresentacao{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding-left: 1rem;
        transition: margin-left 0.3s ease;
    }
    .menu.open + .apresentacao {
        margin-left: 10rem;
    }


    
    .azulao img{
        border-radius: 1.5rem;
        height: 20rem;
        width: 20rem;
    }

    .azulao{
        padding-top: 1.25rem; 
        padding-left: 4rem;
        display: flex; 
        flex-grow: 1;
        margin-bottom: 3rem;
    }
    
    .azulao div{
        margin-left: 1.25rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .azulao div h2{
        font-size: 1.875rem;
        font-weight: 600;
        font-family: monospace;
    }
    
    .azulao div div{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-left: 0.5rem;
    }
        @media (max-width: 768px){
        .azulao img{
            height: 10rem;
            width: 10rem;
        }
        .azulao {
            padding-left: 0;
            flex-direction: column;
            align-items: center;
        }
        .azulao div {
            text-align: center;
        }
        .azulao div div{
            margin-left: 0;
        }
    }
    /* Conteúdo dinâmico */
    .conteudo{

        display: flex;
        flex-direction: column;
        padding-bottom: 1rem;
        flex-grow: 1;
        gap: 1rem;
    }

     

    /* Sobre */
    .sobre p{
        display: flex;
        text-align: center;
    }
    .sobre div ul label{
        font-weight: bold;
    }
    #eu{
        width: 35rem;
        height: 12.5rem;
    }
     @media (max-width: 580px) {
    #eu{
        width: 17.5rem;
        height: 6.75rem;
}
     }

     /* Projetos */
     .projetos{
        background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
     }
     .projetos h1{
        font-size: 1.5rem;
     }
     .projetos p{
        margin-bottom: 30px;
     }
      .github{
        height: 10rem;
        width: 10rem;
      }

      /* Novidades */
      .novidades{
        background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: fit-content;
     }
     .rgb{
        background-image: radial-gradient(circle at 90% 80%, transparent, #4d0019);
        background-clip: text;
        overflow: hidden;
        animation: background-gradient 10s infinite ease-in-out;
        backface-visibility: hidden;
     }
     @keyframes background-gradient {
        from {
          color: #6666ff;
        }
        10% {
          color: #0099ff;
        }
        50% {
          color: #00ff00;
        }
        75% {
          color: #ff3399;
        }
        100% {
          color: #6666ff;
        }
      }
    /* Formulário */
    .open-contato{
        align-items: center;
    }
    #formStyle{
        display: flex;
        flex-direction: column;
        background-color: black;
        border: 1px white solid;
        border-radius: 30px;
        padding: 2rem;
        width: fit-content;
    }
    #formStyle h2{
        margin-bottom: 0.5rem;
    }
    #formStyle p{
        margin-top:20px;
    }
    #emailForm {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        max-width: 300px;
        margin-top: 0.25rem;
    }
    
    #emailForm label {
        font-weight: bold;
    }
    
    #emailInput {
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        color: white;
    }
    
    #emailInput:focus {
        outline: none;
        border-color: white;
    }
    
    #messageInput {
        padding: 0.5rem;
        border: 1px solid rgba(255, 255, 255, 0.5);
        background-color: transparent;
        color: white;
    }

    #messageInput:focus{
        outline: none;
        border-color: white;
    }

    button[type="submit"] {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        background-color: rgb(8 47 73);
        color: white;
        transition: background-color 0.3s ease;
    }
    
    button[type="submit"]:hover {
        background-color: rgb(4 27 41);
    }